/* This is for the main css for personal website */

/* colors for website
000000 black
14213d oxford blue
fca311 orange (web)
e5e5e5 platinum
ffffff white
*/


/* main body style */
body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /*color: black;*/
    /*background: linear-gradient(to bottom right, aliceblue, white);*/
    background-color: #ffffff;
}

.body_bg {
    background-image: url(images/jackson-sophat-_t-l5FFH8VA-unsplash.jpg);
    background-size: cover;*/
    margin: 0px;
}

/* logo header style */

.logo_header {
    display: block;
    padding: 20px 20px;
    font-size: 24px;
    text-decoration: none;
    float:left;

}

.logo_header a {
color: #ffffff;
    text-decoration: none;
}

.header_style {
    background-color: #14213d;
    /*border-bottom: 1px solid hsla(228, 9%, 89%, .5);*/
    display: block;
}

/* navigation style */
nav {
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

nav li {
    display: inline-block;
    margin: 0 10px;

}

nav li a {
    text-decoration: none;
    color: #ffffff;
}


.nav_block {
    display: block;
    float: left;

}

.center-block {
    display: block;
    width: 70%;
    margin: 0px auto;
}


p {
    /* for text*/
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 50px;
}

h1 {

    font-size: 36px;
    color: darkred;
}

h2 {
    font-size: 24px;
    color: olive;

}

h3 {
    font-size: 18px;
    color: darkolivegreen;
}

/* button styles */
#btn_center {

    margin: 0 auto;
    width: 70%;
    float: left;
}

.btn_fill {
    width: 20%;
    height: auto;
    background-color: #fca311;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.btn_clear {
    width: 20%;
    height: auto;
    background-color: #14213d;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;


}

/* center content style */
#div_center {

    margin: 0 auto;
    width: 70%;
}

/* quote style*/ 

#quote_center {

    margin: 0 auto;
    width: 70%;
}

/* footer style* */ 

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color:#fca311;
    margin-top: 100px;
    padding: 30px;
    /*height: auto;*/
    /*display: block;*/
    color: #ffffff;
    text-align: center;
    clear: both;
}

.social_icons {
    width: 24px;
    height: auto;
    margin-bottom: -5px;
}